.under-slider
	padding 0px 30px 25px
	border-top 2px solid $kz-orange
	background-color $kz-under-slider

	.links-block
		text-align center
		border-bottom $kz-blue 1px solid

		&__top
			padding 20px 0
			display inline-block
			border-bottom $kz-blue 1px solid
			
		&__bottom
			padding 20px 0
			display inline-block	

		&__outer
			font-size 14px
			position relative
			margin 0 40px

			&_left
				margin 0 40px 0 0

			&_right
				margin 0 0 0 40px

		&__link
			text-decoration none
			outline none
			color $kz-blue-lt

			&:hover
				color $kz-orange

		&__inner
			display inline-block
			margin-right 10px
			margin-bottom -10px
			width 27px
			height 27px
			background-size contain
			background-repeat no-repeat

			&_solutions
				background-image url(../images/under-slider/links_1.png)

			&_refer
				background-image url(../images/under-slider/links_2.png)

			&_patents
				background-image url(../images/under-slider/links_3.png)

			&_analog
				background-image url(../images/under-slider/links_4.png)
				
			&_schitovik
				background-image url(../images/under-slider/links_5.png)
				
			&_energy
				background-image url(../images/under-slider/links_6.png)
				
			&_project
				background-image url(../images/under-slider/links_7.png)

	.news-block
		padding-top 25px		

		&__title
			margin-bottom 10px
			&-link
				display inline-block
				color $kz-blue-lt
				text-decoration underline
				outline none
				font-size 14px
				font-weight 700

				&:hover
					color $kz-orange

				&_rss
					margin-left 10px
					font-size 20px

		&__preview
			display inline-block
			vertical-align top
			width 30%
			font-size 13px

			&_centered
				margin 0 43px

			&-data
				color $kz-orange

			&-link
				color $kz-blue-lt
				text-decoration underline
				display block
				margin-top 5px
				margin-bottom 10px

