.under-slider
	padding 25px 30px
	border-top 2px solid $kz-orange
	background-color $kz-under-slider

	+below(760px)
		padding 3%


	.links-block
		text-align center

		+below(760px)
			padding-left 6vw
			text-align left

		&__top
			padding 20px 0

		&__outer
			font-size 14px
			position relative
			margin 0 40px
			+below(760px)
				margin 20px 0
				display block
			&_left
				margin 0 40px 0 0
			+below(760px)
				margin-left 0 !important


			&_right
				margin 0 0 0 40px

		&__link
			text-decoration none
			outline none
			color $kz-blue-lt

			&:hover
				color $kz-orange

		&__inner
			display inline-block
			margin-right 10px
			margin-bottom -10px
			width 27px
			height 27px
			background-size contain
			background-repeat no-repeat

			&_solutions
				background-image url(https://keaz.ru/img/links_1.png)

			&_refer
				background-image url(https://keaz.ru/img/links_2.png)

			&_patents
				background-image url(https://keaz.ru/img/links_3.png)

			&_analog
				background-image url(https://keaz.ru/img/links_4.png)

	.news-block
		padding-top 25px
		border-top $kz-blue 1px solid

		&__title
			margin-bottom 10px
			&-link
				display inline-block
				color $kz-blue-lt
				text-decoration underline
				outline none
				font-size 14px
				font-weight 700

				&:hover
					color $kz-orange

				&_rss
					margin-left 10px
					font-size 20px

		&__preview
			display inline-block
			vertical-align top
			width 30%
			font-size 13px

			+below(760px)
				width 100%
				margin 15px !important
			&_centered
				margin 0 4%

			&-data
				color $kz-orange

			&-link
				color $kz-blue-lt
				text-decoration underline
				display block
				margin-top 5px
				margin-bottom 10px

