mixin under-slider()
	+b.under-slider
		+b.links-block
			+e.top
				+e('span').outer._left
					+e.link(href='#')
						+e('span').inner._solutions
						Решения на КЭАЗ
				+e('span').outer
					+e.link(href='#')
						+e('span').inner._refer
						Референции
				+e('span').outer
					+e.link(href='#')
						+e('span').inner._patents
						Патенты
				+e('span').outer._right
					+e.link(href='#')
						+e('span').inner._analog
						Поиск по аналогам
			+e.bottom
				+e('span').outer._left
					+e.link(href='#')
						+e('span').inner._schitovik
						Щитовикам
				+e('span').outer
					+e.link(href='#')
						+e('span').inner._energy
						Энергетикам
				+e('span').outer._right
					+e.link(href='#')
						+e('span').inner._project
						Проектировщикам
		+b.news-block
			+e.title
				+e.title-link(href='#') Последние новости					
				+e.title-link._rss(href='#') <i class="fa fa-rss-square"></i>					
			+e.preview
				+e('p').preview-data 19 октября					
				+e('a').preview-link(href='#') Боевым кораблям ВМФ РФ нужны отечественные автоматы					
				+e('p').preview-description КЭАЗ работает над укреплением энергобезопасности российского флота.
			+e.preview._centered
				+e('p').preview-data 19 октября					
				+e('a').preview-link(href='#') Боевым кораблям ВМФ РФ нужны отечественные автоматы					
				+e('p').preview-description КЭАЗ работает над укреплением энергобезопасности российского флота.
			+e.preview
				+e('p').preview-data 19 октября					
				+e('a').preview-link(href='#') Боевым кораблям ВМФ РФ нужны отечественные автоматы					
				+e('p').preview-description КЭАЗ работает над укреплением энергобезопасности российского флота.
