.drop-popup

	&__item
		position: relative
		margin-bottom 14px

		&_type_indent
			padding-left 28px

	&__text
		color $kz-blue

		&:hover
			color $kz-orange


	&__icon
		position absolute
		left -5px
		top -2px
		padding 2px 4px
		max-width 28px
		min-width 26px
		text-transform uppercase
		color $kz-white
		border-radius 4px

		&_type_xls
			background-color $kz-xls

		&_type_pdf
			background-color $kz-pdf

		&_type_zip
			background-color $kz-zip

	&__size
	&__date
		margin-top 10px
		display inline-block
		color $kz-grey-dk

	&__size
		margin-right 15px
