.drop-basket
	color #000

	&__info
	&__check
	&__price
	&__date
		display inline-block

	&__info
		width 88%
		vertical-align middle

		&:hover
			background-color $kz-grey

	&__id
		margin-right 10px
		color $kz-blue

	&__price
	&__date
		color $kz-grey-dk

	&__price
		margin-right 20px

