@font-face
	font-family 'DINPro'
	src url('../fonts/dinpro-regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Droid Sans'
	src url('../fonts/droidsans.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Droid Sans bold'
	src url('../fonts/droidsans-bold.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'slick'
	src url('../fonts/slick.woff') format('woff')
	font-weight normal
	font-style normal
