.ui-kit
	padding-top 40px
	padding-bottom 40px
	background-color #f0f0f0
	background-image url(../images/chruch.png)
	cursor default

	&__row
		padding 20px
		width auto
		border-top 1px dashed grey

	&__title
		padding-bottom 20px
		font-size 20px
		text-align left
	
	&__filter-btns
		background-color $kz-filter-btns-bg
		display inline-block
		padding 20px 20px 15px
		.reset
			background-color $kz-grey-lt
			color $kz-blue
			box-shadow rgba(0,0,0,.7) 0 1px 1px
			cursor pointer
			font-size 12px
			text-transform uppercase
			border 0
			border-radius 3px
			padding 10px 25px
			&:hover
				background-color $kz-grey-dk
		.submit
			background-color $kz-orange
			color #fff
			box-shadow rgba(0,0,0,.7) 0 1px 1px
			cursor pointer
			font-size 12px
			text-transform uppercase
			border 0
			border-radius 3px
			padding 10px 40px
			&:hover
				background-color $kz-orange-lt