include ../row/row
include ../col/col
include ../menu/menu
include ../logo/logo
include ../btn/btn
include ../dropdown/dropdown
include ../brand-filter/brand-filter
include ../title/title
include ../main-slider/main-slider
include ../under-slider/under-slider
include ../footer/footer


mixin index()
	+row(class='row_header_top')
		+main-slider
		+under-slider