include ../row/row
include ../col/col
include ../menu/menu
include ../logo/logo
include ../btn/btn
include ../link/link
include ../content/content
include ../aside/aside
include ../dropdown/dropdown
include ../brand-filter/brand-filter
include ../title/title
include ../fake/fake
include ../brand-post/brand-post
include ../filter/filter
include ../main-slider/main-slider
include ../under-slider/under-slider
include ../new-slider/new-slider
include ../categories/categories
include ../footer/footer
include ../prod-search/prod-search


mixin index()
	- dataCat = getData('categories') || []

	+row
		+main-slider
		+under-slider
	+row
		+content
			+col(class='col_size_half')
				+title({tag:'h1', val:'Продукция'})
			+col(class='col_size_half col_txt_right')
				+link(['#','Ссылка1'])
				+link(['#','Ссылка2'])
				+link(['#','Ссылка3'])
				+dropdown({
						type:'blue',
						text:'Ещё',
						icon: {
							pos:'right',
							type:'angle-grey'
							},
						popup:[
							'Data 1',
							'Data 2',
							'Data 3',
							'Data 4',
							'Data 5',
							'Data 6'
							]
						})
			+col(class='col_size_full')
				+prod-search({place:'Поиск продукции по названию или артикулу. Можно ввести несколько артикулов через пробел'})
				+filter([
			{type:'all',text:'Все бренды'},
			{type:'keaz',text:'KEAZ'},
			{type:'keaz',text:'KEAZ Optima'},
			{type:'optima',text:'KEAZ Ferraz'}
			])
			+col(class='col_size_full')
				+title({tag:'h3', val:'Категории', mod:'small'})
			+col(class='col_size_full col_txt_just')
				+categories(dataCat[0])
				+categories(dataCat[1])

		+aside
			+col(class='col_size_full')
				+title({tag:'h3', val:'Новинки', mod:'small'})(class='title_color_blue')
				+new-slider
				+fake
				.brand-posts
					+title({tag:'h3', val:'О наших брендах', mod:'small'})
					+brand-post



