.title
	font-size 33px
	font-weight 600

	+below(760px)
		font-size 7vw

	&_size_small
		font-size 16px

		+below(760px)
			font-size 5.5vw

	&_size_middle
		font-size 26px

		+below(760px)
			font-size 6.2vw


	&_color_blue
		color $kz-blue-lt
