mixin brand-post()
		+b.brand-post
			+e.image(src='assets/images/logo_middle.png')
			+e.text
				+e.link(href=jv0) Надежное оборудование
				br
				| для типовых массовых проектов
		+b.brand-post
			+e.image(src='assets/images/logo_optima_middle.png')
			+e.text
				+e.link(href=jv0) Передовая электротехническая продукция c
				br
				| современным дизайном и соответствием европейским стандартам
		+b.brand-post
			+e.image(src='assets/images/logo_optima_middle.png')
			+e.text
				+e.link(href=jv0) Передовая электротехническая продукция c
				br
				| современным дизайном и соответствием европейским стандартам
