include ../dropdown/dropdown
include ../brand-filter/brand-filter

mixin filter(data,catalog)
	.filter
		+brand-filter(data)
		+dropdown({
			type:'dashed',
			text:'Сферы применения',
			icon: {
				pos:'right',
				type:'angle-grey'
				}
			})
		+dropdown({
			type:'dashed',
			text:'Функции оборудования',
			icon: {
				pos:'right',
				type:'angle-grey'
				}
			})

		if catalog
			+brand-filter([
				{type:'all',text:'1',mod:'list'},
				{type:'optima',text:'2',mod:'list'}])
