.filter
	margin-top 15px
	margin-bottom 30px
	padding 14px
	width 100%
	border 1px solid $kz-grey-dk
	border-radius 4px
	background-color $kz-grey
	text-align justify

	&::after
		content ''
		display inline-block
		width 100%

	& .dropdown
		margin-left 0
