.filter
	margin-top 15px
	margin-bottom 20px
	padding 14px
	width 100%
	border 1px solid $kz-grey-dk
	border-radius 4px
	background-color $kz-grey-lt
	text-align justify

	+below(1000px)
		padding 2%
		padding-bottom 1%
		padding-right 8%
		text-align right

	+below(860px)
		padding 1.2%
		text-align justify

	+below(760px)
		text-align center
		border none
		background-color transparent

	&::after
		content ''
		display inline-block
		width 100%

	& .dropdown
		margin-left 0

		+below(1000px)
				margin-bottom 1%

		+below(760px)
			margin-left 2%

		.dropdown__text
			+below(760px)
				font-size 11px
