.btn
	padding 0 14px
	display inline-block
	text-decoration none
	text-align center
	color $kz-black
	line-height 23px
	border 1px solid $kz-grey-dk
	border-radius 12px
	background-color $kz-grey-lt
	
	&:active
		background $kz-grey
		box-shadow rgba(0,0,0,0.5) 0 2px 3px inset
