.btn
	padding 0 14px
	display inline-block
	text-decoration none
	text-align center
	font-size 12px
	color $kz-black
	line-height 22px
	border 1px solid $kz-grey-dk
	border-radius 12px
	background-color $kz-grey-lt

	&:active
		background $kz-grey
		box-shadow rgba(0,0,0,0.5) 0 2px 3px inset

	&_round
		border-top-right-radius 0
		border-bottom-right-radius 0
		border-right-color $kz-white
		background-color $kz-orange
		color $kz-white
		margin-left 20px