.prod-search
	position relative
	margin 20px 0


	&__field
		padding 6px 35px
		width 100%
		font-size 12px
		color $kz-text
		border 1px solid $kz-text
		border-radius 5px

	&::before
		position absolute
		top 5px
		left 8px
		sprite $search
		content ''

	&::after
		position absolute
		top 6px
		right 8px
		sprite $search-arrow
		content ''
