// KEAZ color set

$kz-blue = #036
$kz-orange = #f60
$kz-grey = #e5e7eb
$kz-white = #fff
$kz-black = #000
$kz-blue-lt = #004080
$kz-orange-lt = #ff8533
$kz-grey-lt = #f3f4f6
$kz-grey-ult = #eee
$kz-blue-dk = #001933
$kz-orange-dk = #cc5200
$kz-grey-dk = #9da4b4
$kz-grey-hover = #ECECED
$kz-tel = #551A8B
$kz-text = #9cb6c0

$kz-footer-search = #A8B2BD
$kz-footer-subscribe = #CAD0D6

$kz-social-vk = #56789C
$kz-social-fb = #496194
$kz-social-insta = #346188
$kz-social-tw = #28c3ff
$kz-social-yt = #ff4343
$kz-social-gp = #ff6d4a
$kz-social-ok = #F4731C
$kz-social-rss = #ff9c43

$kz-under-slider = #e5f2ff
$kz-under-slider-dk = darken($kz-under-slider,10%)

$kz-filter-btns-bg = #ffe1cc
$kz-xls = #499285
$kz-pdf = #ecbb6a
$kz-zip = #ecbb6a

// KEAZ font set
$kz-main = 'Droid Sans', Sans Serif
$kz-main-b = 'Droid Sans Bold', Sans Serif
$kz-title = 'DINPro', Sans Serif
// KEAZ size set
