// KEAZ color set

$kz-blue = #036
$kz-orange = #f60
$kz-grey = #e5e7eb
$kz-white = #fff
$kz-black = #000
$kz-blue-lt = #004080
$kz-orange-lt = #ff8533
$kz-grey-lt = #f3f4f6
$kz-blue-dk = #001933
$kz-orange-dk = #cc5200

// KEAZ font set

// KEAZ size set
