mixin brand-filter(data)
	-data = data || []

	+b.brand-filter
		each item in data
			+e.item(class={
			'is-active': item.mod === 'active',
			'js-list': item.mod === 'list',
			'brand-filter__item_all': item.type === 'all',
			'brand-filter__item_keaz': item.type === 'keaz',
			'brand-filter__item_optima': item.type === 'optima'
			})= item.text
