mixin brand-filter()

	+b.brand-filter
		+e.item.brand-filter__item_all.is-active Все бренды
		+e.item.brand-filter__item_keaz КЭАЗ
		+e.item.brand-filter__item_keaz КЭАЗ Optima
		+e.item.brand-filter__item_optima КЭАЗ-Ferraz
