.tel
	display inline-block

	&__number
		display block
		text-decoration none
		font-size 17px
		line-height 28px
		font-weight 700
		color $kz-blue-lt

		&:hover
			color $kz-orange

	&__text
		margin-top 3px
		border-radius 3px
		padding 3px 5px
		background: $kz-orange;
		font-size 9px
		color $kz-white
		text-decoration none
