

doctype html
html(lang='ru')
	include ../blocks/head/head
	body
		mixin list(list)
			.pages
				.pages__label Готовность

				each item in list
					a.pages__item(href=item[1] target='_blank')= item[0]
						.pages__file=item[1]
						.pages__styles(class='pages__styles_'+item[2])
		+list([
			['Главная', 'keaz.html', 'wip'],
			['UI-Kit', 'ui-kit.html', 'wip'],
			['Продукция', 'catalog.html', 'wip'],
			['Категория продуктов', 'automat.html', 'no'],
			['Продуктовая группа', 'catalog-detailed.html', 'no'],
			['Продукт', 'product.html', 'no'],
			['Подбор по аналогам', 'produkciya/analog.html', 'no'],
			['Остерегайтесь подделок', 'press-center/fake.html', 'no'],
			['Как купить', 'how-to-buy.html', 'no'],
			['Дилеры', 'how-to-buy/dealers.html', 'no'],
			['Прайс-листы', 'how-to-buy/pricelist.html', 'no'],
			['Направить претензию', 'how-to-buy/garantijnaja-politika.html', 'no'],
			['Наш завод', 'company.html', 'no'],
			['Мы производители', 'company/production.html', 'no'],
			['Контакты и реквизиты', 'company/contacts.html', 'no'],
			['Пресс-центр', 'press-center.html', 'no'],
			['Задать вопрос', 'helpdesk/tasks/add-not-auth.html', 'no'],
			['Помощь', 'help.html', 'no'],
		])