

doctype html
html(lang='ru')
	include ../blocks/head/head
	body
		mixin list(list)
			.pages
				.pages__label Готовность

				each item in list
					a.pages__item(href=item[1] target='_blank')= item[0]
						.pages__file=item[1]
						.pages__styles(class='pages__styles_'+item[2])
		+list([
			['Главная', 'keaz.html', 'wip'],
			['UI-Kit', 'ui-kit.html', 'wip'],
			['Каталог', 'catalog.html', 'wip'],
			['Продукция', 'production.html', 'no'],
			['Карточка товара', 'product.html', 'no']
		])
