.catalog-tile
	margin-top 20px

	&__img
		border 1px solid $kz-grey-lt

	&__item
		margin-right 7%
		margin-bottom 50px
		display inline-block
		max-width 128px

	&__text
		padding-top 15px
		display block
		font-size 14px
		text-decoration none
		color $kz-blue-lt
