include ../dropdown/dropdown

mixin tabs()
	+b.tabs
		+e.control
			+e.switch.js-switch
				+dropdown({
					type:'dashed',
					text:'Описание',
					icon: {
						pos:'right',
						type:'angle-grey'
						}
					})
			+e.switch.js-switch
				+dropdown({
					type:'dashed',
					text:'Комментарии',
					icon: {
						pos:'right',
						type:'angle-grey'
						}
					})
		+e.container
			+e('p').text
				| Блочный автоматический выключатель - это коммутационный аппарат, предназначенный для проведения тока в
				| нормальном режиме, защиты оборудования и силовой цепи при возникновении перегрузки или короткого замыкания.
			+e('p').text
				| In: 0,6 - 2000 А;
				br
				| Un: - до 1000 В переменного тока при частоте от 50 до 400 Гц;
			+e('ul').list
				+e('li').list-item - до 600 В постоянного тока;
			+e('p').text Виды расцепителей:
			+e('ul').list
				+e('li').list-item - электромагнитные расцепители с гидравлическим замедлением срабатывания;
				+e('li').list-item - темомагнитные (электромагнитный + тепловой);
				+e('li').list-item - полупроводниковые расцепители.
			+e('p').text
				| Широкий ассортимент аксессуаров, комплектов зажимов и дополнительных устройств.
		+e.container
			+e('p').text
				| Блочный автоматический выключатель - это коммутационный аппарат, предназначенный для проведения тока в
				| нормальном режиме, защиты оборудования и силовой цепи при возникновении перегрузки или короткого замыкания.
			+e('p').text
				| In: 0,6 - 2000 А;
				br
				| Un: - до 1000 В переменного тока при частоте от 50 до 400 Гц;
			+e('ul').list
				+e('li').list-item - до 600 В постоянного тока;
			+e('p').text Виды расцепителей:
			+e('ul').list
				+e('li').list-item - электромагнитные расцепители с гидравлическим замедлением срабатывания;
				+e('li').list-item - темомагнитные (электромагнитный + тепловой);
				+e('li').list-item - полупроводниковые расцепители.
			+e('p').text
				| Широкий ассортимент аксессуаров, комплектов зажимов и дополнительных устройств.
