.tabs
	margin-top 20px
	margin-bottom 20px

	&__switch
		margin-right 7px
		padding 8px 0
		display inline-block
		min-width 115px
		max-width 125px
		background-color $kz-grey-lt
		text-align center

		&.is-active
			border-color $kz-under-slider

	&__container
		display none
		padding 15px 8px
		font-size 12px
		line-height 20px
		background-color $kz-under-slider

	&__list
		padding-left 22px
