.prod-preview
	margin 20px 0

	&__main
		height 280px
		border 1px solid $kz-grey-ult

	&__dots
		font-size 0

	&__dot
		display inline-block
		width 16.66%
		border 1px solid $kz-grey-ult
		cursor pointer

		&.is-active
			border 2px solid $kz-orange

	&__img
		width 100%
		height 100%
