mixin prod-preview(data)
	-data = data || {}

	+b.prod-preview
		+e.main
			+e.img(src=data.main)
		+e.dots
			each item in data.dots
				+e.dot(class = {
						'is-active': item[1] === 1
						})
					+e.img(src=item[0])
