.categories
	padding-bottom 20px
	display inline-block
	font-size 14px
	line-height 1.2

	+below(1200px)
		padding: 0 2%
		max-width 50%
		vertical-align top
		text-align left

	+below(860px)
		font-size 16px

	+below(760px)
		max-width 100%
		font-size 14px


	&__item
		margin-top 20px


		&.is-active

			.categories__icon

				&::before
					top 40%
					transform rotate(-135deg)

			.categories__sub
				height auto

		&_type_sub
			margin-top 15px
			padding-left 30px

	&__link
		position relative
		padding-left 25px
		display block
		text-decoration none
		color $kz-blue-lt

	&__icon
		position absolute
		left 0
		top -3px
		size 18px
		border-radius 50%
		background-color $kz-grey-lt
		box-shadow 0px 1px 0 0 $kz-grey-dk


		&::before
			position absolute
			top 19%
			left 28%
			size 6px
			border-right 2px solid $kz-grey-dk
			border-bottom 2px solid $kz-grey-dk
			transform rotate(45deg)
			content ''

	&__sub
		height 0
		overflow hidden

