include ../../../node_modules/bemto.jade/bemto.jade
include ../row/row
include ../col/col
include ../menu/menu
include ../logo/logo
include ../btn/btn
include ../dropdown/dropdown
include ../tel/tel

mixin header()
	- menu = getData('menu')

	+b('header').header
		+row(class='row_font_null')
			+col(class='col_size_triple')
				+e.logo
					+logo('assets/images/logo.png')(class='logo_size_big')
				+e.city
					+dropdown({
						type:'dashed',
						text:'Москва',
						icon: {
							pos:'both',
							type:'angle-grey',
							type2:'city'
							}
						})
			+col(class='col_size_triple col_txt_center col_type_mobile')
				+e.enter
					+btn({href:jv0, value:'Войти'})
					+btn({href:jv0, value:'Корзина (0)', mod:'round'})
					+dropdown({
						mod:'round',
						text: '.',
						icon: {
							type:'angle-white'
							}
						})
			+col(class='col_size_triple col_txt_right')
				+e.contacts
						+dropdown({
							type:'dashed',
							text:'Прайс-листы',
							icon: {
								pos:'right',
								type:'angle-grey'
								}
							})
						+dropdown({
							type:'dashed',
							text:'Контакты',
							icon: {
								pos:'right',
								type:'angle-grey'
								}
							})
				+e.tel
					+tel({link: '+74712399911', number:'+7 4712 399-911', text: 'Бесплатно позвонить с сайта'})
		+row
			+menu(menu)
