.header

	&__enter
	&__contacts
	&__city
	&__tel
	&__logo
		display inline-block
		vertical-align middle

	&__city
		margin-left 15px

	&__contacts

		+below(950px)
			max-width 100px

	&__enter
	&__contacts
	&__city
	&__contacts
		+below(760px)
			display none

	&__enter
		.btn:first-child
			margin-right 8px
