include ../../../node_modules/bemto.jade/bemto.jade
include ../row/row
include ../col/col
include ../menu/menu
include ../logo/logo
include ../btn/btn
include ../dropdown/dropdown
include ../tel/tel

mixin header()
	- menu = getData('menu')

	+b('header').header
		+row(class='row_font_null')
			+col(class='col_size_triple')
				+e.logo
					+logo('assets/images/logo.png')(class='logo_size_big')
				+e.city
					+dropdown({
						type:'dashed',
						text:'Москва',
						icon: {
							pos:'both',
							type:'angle-grey',
							type2:'city'
							}
						})
			+col(class='col_size_triple col_txt_center col_type_mobile')
				+e.enter
					+btn({href:jv0, value:'Войти'})
					+btn({href:jv0, value:'Корзина (0)', mod:'round'})
					+dropdown({
						mod:'round',
						text: '.',
						icon: {
							type:'angle-white'
							},
						basket:[
								{
									id:'#112377',
									info:'3540 единиц',
									price: '0 Р',
									date: '01 октября'
								},
								{
									id:'#112377',
									info:'3540 единиц',
									price: '0 Р',
									date: '01 октября'
								},
								{
									id:'#112377',
									info:'3540 единиц',
									price: '0 Р',
									date: '01 октября'
								},
								{
									id:'#112377',
									info:'3540 единиц',
									price: '0 Р',
									date: '01 октября'
								}
							]
						})
			+col(class='col_size_triple col_txt_right')
				+e.contacts
					+dropdown({
						type:'dashed',
						text:'Прайс-листы',
						icon: {
							pos:'right',
							type:'angle-grey'
							},
						popup:[
								{
									text: 'Прайс-лист КЭАЗ',
									icon: 'xls',
									size: '9,11 Мб',
									date: '23 октября'
								},
								{
									text: 'Прайс-лист КЭАЗ',
									icon: 'zip',
									size: '9,11 Мб',
									date: '23 октября'
								},
								{
									text: 'Прайс-лист КЭАЗ',
									icon: 'pdf',
									size: '9,11 Мб',
									date: '23 октября'
								}
							]
						})

					+dropdown({
						type:'dashed',
						text:'Контакты',
						icon: {
							pos:'right',
							type:'angle-grey'
							},
						popup:[
							'Контакты и реквизиты',
							'Региональные менеджеры',
							'дилеры'
							]
						})
				+e.tel
					+tel({link: '+74712399911', number:'+7 4712 399-911', text: 'Бесплатно позвонить с сайта'})
					button.menu-toggle
						span.icon-bar
						span.icon-bar
						span.icon-bar

			+col(class='col_size_full')
				div.mobile-icons
					div.mobile-geo
						<i class="fa fa-map-marker"></i> Курск
					div.mobile-cart
						a(href="#" class="cart-link")
							<i class="fa fa-shopping-cart"></i>
							span.cart-link-counter 3

						a(href="#" class="search-link")
							<i class="fa fa-search"></i>




		+row
			+menu(menu)
