.catalog-list
	margin-top 20px
	display none
	font-size 14px

	&.is-active
		display block

	&__item
		margin-bottom 15px

	&__link
		color $kz-blue-lt
		text-decoration none

		&:hover
			color $kz-orange
