mixin menu(data)
	+b.menu&attributes(attributes)
		+e.item.menu__item_type_home
		each item in data
			+e.item(href = item.link class = item.mod ? item.mod : '')
				+e('span').link=item.value
		+e.item.menu__item_type_question
