.menu
	position relative
	width: 100%
	font-size 0
	text-align center

	+below(760px)
		display none

	&__item
		display inline-block
		height 47px
		width 18.8%
		text-align center
		background-color $kz-blue
		border-right $kz-blue-lt 1px solid
		border-bottom 3px solid $kz-blue-dk
		box-shadow 0 15px 30px 0 rgba(50,50,50,0.35)
		transition all ease-in-out 0.2s

		&:before
			content ''
			display inline-block
			height 70%
			vertical-align border-bottom

		&:hover
			background-color $kz-blue-lt
			transition all ease-in-out 0.2s

		&.is-question
			background-color $kz-grey
			border-right $kz-grey-lt 1px solid
			border-bottom $kz-grey-dk 3px solid
			transition all ease-in-out 0.2s

			&:hover
				background-color $kz-grey-hover
				transition all ease-in-out 0.2s


			& .menu__link
				border-bottom 1px solid rgba(0,0,0,0.3)
				color $kz-black

		&.is-active
			background-color $kz-orange
			border-bottom 3px solid $kz-orange-dk

			&:hover
				background-color $kz-orange-lt

			& .menu__link
				border-bottom 1px solid transparent

		&_type_home
		&_type_question
			padding 15px 0
			vertical-align top
			width 3%

		&_type_home
			left: 0
			border-radius 0 0 0 5px

		&_type_question
			right 0
			border-radius 0 0 5px 0


	&__link
		display inline-block
		text-decoration none
		font-size 15px
		color $kz-white
		border-bottom rgba(255,255,255,0.4) 1px solid

		&_ico
			margin 0

