.fake
	margin-top 30px
	margin-bottom 30px
	padding-top 8px
	padding-bottom 8px
	padding-left 43px
	padding-right 17px
	display inline-block
	color $kz-blue-lt
	background-color #fff7c2

	+below(860px)
		position absolute
		left 5%
		bottom 5%

	+below(760px)
		position absolute
		left auto
		bottom auto
		right 0%
		top -11vw
		font-size 4vw
