mixin footer()
	+b.footer
		+row
			+e.block
				+e.section._search
					input(type='search', placeholder='поиск по всему сайту')
					button(type='submit')='Найти'
				+e.section._subscribe
					span='Подпишись на новости КЭАЗ'
					input(type='email' placeholder='e-mail')
					button(type='submit')='Подписаться'
			+e.block._center
				+e.section._sitemap
					+e.list
						+e('p').title
							+e('a').link(href='#')='Мы производим'
						+e('ul')
							+e('li').item
								+e('a').link(href='#')='Автоматические выключатели'
							+e('li').item
								+e('a').link(href='#')='Контакторы, пускатели'
							+e('li').item
								+e('a').link(href='#')='Предохранители'
							+e('li').item
								+e('a').link(href='#')='Преобразователи частоты'
							+e('li').item
								+e('a').link(href='#')='Реле контроля и управления'
					+e.list
						+e('p').title
							+e('a').link(href='#')='Как купить'
						+e('ul')
							+e('li').item
								+e('a').link(href='#')='Дилеры в вашем регионе'
							+e('li').item
								+e('a').link(href='#')='Региональные менеджеры'
							+e('li').item
								+e('a').link(href='#')='Прайс-листы'
							+e('li').item
								+e('a').link(href='#')='Розничный ассортимент'
							+e('li').item
								+e('a').link(href='#')='Направить претензию'
					+e.list
						+e('p').title
							+e('a').link(href='#')='Наш завод'
						+e('ul')
							+e('li').item
								+e('a').link(href='#')='О продукции'
							+e('li').item
								+e('a').link(href='#')='Контакты и реквизиты'
							+e('li').item
								+e('a').link(href='#')='Интернет-магазинам'
							+e('li').item
								+e('a').link(href='#')='Карьера и вакансии'
							+e('li').item
								+e('a').link(href='#')='Патенты'
					+e.list
						+e('p').title
							+e('a').link(href='#')='Пресс-центр'
						+e('ul')
							+e('li').item
								+e('a').link(href='#')='Новости'
							+e('li').item
								+e('a').link(href='#')='Осторожно, подделка!'
							+e('li').item
								+e('a').link(href='#')='Видео'
				+e.section._social
					+b('a').social__link.social__link_vk(href = '#')
						+e('span')
							i.fa.fa-vk.fa-2x
					+b('a').social__link.social__link_facebook(href = '#')
						+e('span')
							i.fa.fa-facebook.fa-2x
					+b('a').social__link.social__link_instagram(href = '#')
						+e('span')
							i.fa.fa-instagram.fa-2x
					+b('a').social__link.social__link_twitter(href = '#')
						+e('span')
							i.fa.fa-twitter.fa-2x
					+b('a').social__link.social__link_youtube(href = '#')
						+e('span')
							i.fa.fa-youtube.fa-2x
					+b('a').social__link.social__link_gplus(href = '#')
						+e('span')
							i.fa.fa-google-plus.fa-2x
					+b('a').social__link.social__link_odnoklassniki(href = '#')
						+e('span')
							i.fa.fa-odnoklassniki.fa-2x
					+b('a').social__link.social__link_rss(href = '#')
						+e('span')
							i.fa.fa-rss.fa-2x
			+e.block
				+e.section._cc
					p Вся представленная на сайте информация, касающаяся технических характеристик, наличия на складе, стоимости товаров, носит информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
					p При копировании и последующем использовании материалов, размещенных на сайте, ссылка на сайт keaz.ru обязательна.
					p
						a(href = '#') Политика конфиденциальности
						a(href = '#') Соглашение об использовании сайта.
					p Сайт создан в  Silver Plate
				+e.section._adress
					p Завод КЭАЗ
					p г. Курск, ул. Луначарского, д. 8
					p Телефон: +7 (4712) 39-99-11
					p Мы работаем по будням с 08:30 до 17:00
					p keaz.ru
				+e.section._buymap
					a(href = '#')
						img.russia-map(src="../assets/images/allrus.png")
						p.russia-map_descr Мы работаем по всей России и странам СНГ
					p.comodo_age
						img.comodo(src="../assets/images/secure.png")
						span 18+