.footer
	margin-top 50px
	border-radius 0 0 4px 4px
	background-color $kz-grey

	&__wrapper
		max-width 1200px
		margin 0 auto

	&__block
		font-size 0

		&_center
			border-bottom 1px solid black
			margin-bottom 15px
			padding 40px 0 20px

	&__section
		display inline-block
		vertical-align top
		font-size 12px
		line-height 1.7em
		input
			padding 5px 10px 5px 30px
			border 0
		button
			padding 5px
			border 0
			margin-left -15px
			color $kz-white
			transition all .3s ease-in-out
			&:hover
				box-shadow 2.5px 4.33px 16px 0px rgba(255,255,255,0.92)
				transition all .3s ease-in-out

		&_search
			height 54px
			width 50%
			padding 1.5% 1%
			background $kz-footer-search
			box-shadow 2.5px 4.33px 16px 0px rgba(255,255,255,0.92)
			+below(860px)
				width 100%
			input
				width 78%
			button
				width 14%
				background $kz-blue

		&_subscribe
			width 50%
			height 54px
			padding 1.5% 1%
			background $kz-footer-subscribe
			box-shadow 2.5px 4.33px 16px 0px rgba(255,255,255,0.92)
			+below(860px)
				width 100%
			p
				display inline-block
				font-size 12px
				font-weight 700
				margin-right 2%
				vertical-align super

				+below(1200px)
					font-size 1.1vw
					max-width 20%
					vertical-align bottom
					line-height 1.1

				+below(860px)
					vertical-align super

			input
				width 50%
				vertical-align text-bottom
				+below(860px)
					width 61.5%
			button
				width 18%
				background $kz-orange
				vertical-align text-bottom


		&_sitemap
			width 100%
			vertical-align top
			text-align justify

			&:after
				width 100%
				display inline-block
				content ''

			.footer__list
				display inline-block
				vertical-align top
				font-size 12px

				.footer__title
					font-weight 700

				.footer__item

				.footer__link
					text-decoration none
					color #000
					transition all .3s ease-in-out
					&:hover
						color $kz-orange
						transition all .3s ease-in-out



		&_social
			max-width 240px
			font-size 0

			+below(860px)
				max-width 100%
				margin-top 2%
				margin-left 20%

			.social__link
				display inline-block
				width 50px
				height 50px
				padding 12px 0
				margin 0 10px 10px 0
				font-size 12px
				text-align center
				color $kz-white

				&:hover
					box-shadow 2.5px 4.33px 16px 0px #fff

				&_vk
					background $kz-social-vk

				&_facebook
					background $kz-social-fb

				&_instagram
					background $kz-social-insta

				&_twitter
					background $kz-social-tw

				&_youtube
					background $kz-social-yt

				&_gplus
					background $kz-social-gp

				&_odnoklassniki
					background $kz-social-ok

				&_rss
					background $kz-social-rss

		&_cc
			width 55%

			+below(1200px)
				width 100%
			a
				margin-right 5px
				color $kz-black
				text-decoration unde
				&:hover
					text-decoration none

		&_adress
			width 20%
			margin 0 30px

			+below(1200px)
				margin-top 15px
				width 40%

		&_buymap
			width 19%
			text-align right

			+below(1200px)
				margin-top 15px
				width 50%
			a
				text-decoration none
			.russia-map
				width 90px
				margin-right 17px
			.russia-map_descr
				display inline-block
				vertical-align top
				width 54%
				color $kz-black
				text-align left
			.comodo_age
				margin-top 20px
				display inline-block
				text-align right
			.comodo
				width 55px
				display block
				margin-bottom 5px
			span
				background $kz-footer-subscribe
				padding 5px
				border-radius 3px
